
.h1 {
    color: antiquewhite;
}

.write {
    color: #732f8a;   
    font-weight: bolder;
    padding-left: 200px;
    padding-right: 200px;
}

.config {
    color: #732f8a;   
    font-weight: bolder;
    padding-left: 200px;
    padding-right: 200px;
}

.edit {
    color: #732f8a;   
    font-weight: bolder;
    padding-left: 200px;
    padding-right: 200px;
}

.editor-toolbar {
    background: #ff00ae;
}

.btn {
    background: #ff00ae;

}

.form-control {
    background: #ca4bcb;
    border-color: #f90dc1;
    color: white !important;
}

.CodeMirror {
    background: #f7d7ff;
}

.end-button {
    margin-bottom: 100px;
}

.help {
    margin: 10px;
}